body {
    font-size: 16px;
    color: #2b283a;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*Typography*/

h1 {
    color:whitesmoke;
    font-size: 50px;
    margin: 0;
}

h3 {
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}

.btn-light, .btn-mid, .btn-dark{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-dark{
    background-color: #5f29a3;
    color: white !important;
}

.btn-dark:hover, 
.btn-dark:active, 
.btn-light:hover, 
.btn-light:active,
.btn-mid:hover,
.btn-mid:active{
    background-color: #f3e885;
    color: #2b283a;
}


/*Sections*/

header {
    background-color: #5f29a3;
    padding: 45px 0px;
}

section {
    padding: 45px 0;
}

.section-one a {
    color: #5f29a3;
}

.section-two {
    background-color: #5f29a3;
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.secondimage-container {
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 45px 0;
    color:#5f29a3;
    text-align: center;
}

/*Modal*/

.modal {
    
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}



input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

/*Images*/

.first-image {
    width: 100%;
    border-radius: 5px;
}

.second-image {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.third-image {
    width: 100%;
    border-radius: 5px;
}